@{
    ViewBag.Title = "Ambientes";
}
<div class="row">
    <div class="col-md-12">
        <h2>Elige tu espacio</h2>
        <p>
            Al elegir una ventana, esta te permitira cargar todos tus productos con sus respectivos vencimientos. Para que no tengas
            nunca mas que preocuparte por no consumirlos porque estan vencidos o no los encontras en tu hogar.
        </p>
    </div><br/>

    <div class="page-body">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a class="navbar-brand text-left" a target="_blank" href="anexos/living.html">Living</a>
                    <img class="img-responsive pull-right" style=" width:383px; height:344px;" src="http://gilowveld.sites.caxton.co.za/wp-content/uploads/sites/97/2014/08/natural.jpg">

                </div>
                <div class="col-md-6">
                    <a class="navbar-brand" a target="_blank" href="anexos/cocina.html">Cocina</a>
                    <img class="img-responsive pull-right" style=" width:383px; height:344px;" src="http://www.estiloydeco.com/wp-content/uploads/2017/07/erformas-de-cocinas-1.jpg">

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <a class="navbar-brand" a target="_blank" href="anexos/baño.html">Baño</a>
                    <img class="img-responsive pull-right" style=" width:383px; height:344px;" src="http://www.micasarevista.com/var/decoracion/storage/images/mi-casa/banos/consejos-para-las-instalaciones-en-el-bano/lineas-definidas/1552504-1-esl-ES/lineas-definidas_ampliacion.jpg">

                </div>
                <div class="col-md-6">
                    <a class="navbar-brand" a target="_blank" href="anexos/dormitorio.html">Dormitorio</a>
                    <img class="img-responsive pull-right" style=" width:383px; height:344px;" src="https://www.atrapamuebles.com/3357-thickbox_default/dormitorio-matrimonio-suite.jpg">

                </div>
            </div>
        </div>
    </div>
