@{
    ViewBag.Title = "Invertur";
}

<div class="panel-body">
    <h1>Inventur</h1>
    <p class="lead"> Este proyecto fue generado con el objetivo de ayudarlo a organizar sus espacios personales y que sepan que tienen dentro
    de ellos.Para que no pierdan nada y puedan encontrarlo de manera simple y rapida.</p>
    <p><a href="~/Views/Inicio/Ambiente.cshtml" class="btn btn-primary btn-lg">Ingresar &raquo;</a></p>
</div>



